.details {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.detail--column {
    flex-basis: 24%;
    margin: 0 2rem;
    padding: 1rem;
    border: 1px dotted goldenrod;
}

.orders {
    font-size: 16px;
    padding: 1em 3em;
}

